.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: gainsboro;
}
.flex-container > div {
    margin: 20px;
    padding: 50px;
    font-size: 20px;
    background-color: white;
}

textarea {
    resize: none;
    width: 200px;
}