.story-board {
    display: flex;
    flex-wrap: wrap;
    background-color: gainsboro;
}
.story-board > div {
    margin: 20px;
    padding: 50px;
    font-size: 20px;
    white-space: pre-wrap;
    background-color: white;
}

textarea {
    resize: none;
    width: 300px;
    height: 75px;
}